<section>
  <div class="container">
    <h2>Customer Feedbacks</h2>
    <p>See what our readers are saying about us!</p>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <p>
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <img
            srcset="/img/feedbacks/jane.png 1x, /img/feedbacks/jane@2x.png 2x"
            alt="Jane"
          />
          <div>
            <p>Jane Doe</p>
            <p>Book Lover, Reader</p>
          </div>
        </div>
        <div class="swiper-slide">
          <p>
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>

          <img
            srcset="/img/feedbacks/john.png 1x, /img/feedbacks/john@2x.png 2x"
            alt="John"
          />
          <div>
            <p>John Smith</p>
            <p>Editor, BookMag</p>
          </div>
        </div>
        <div class="swiper-slide">
          <p>
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book.
          </p>
          <img
            srcset="/img/feedbacks/emily.png 1x, /img/feedbacks/emily@2x.png 2x"
            alt="John"
          />
          <div>
            <p>Emily Johnson</p>
            <p>Author, Novelist</p>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
