<section class="feedbacks-section">
  <div class="container">
    <h2 class="feedback-title">Customer Feedbacks</h2>
    <p class="feedback-text section-text">
      See what our readers are saying about us!
    </p>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <p class="feedback-text">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <img
            srcset="/img/feedbacks/jane.png 1x, /img/feedbacks/jane@2x.png 2x"
            alt="Jane"
          />
          <div>
            <h3>Jane Doe</h3>
            <p>Book Lover, Reader</p>
          </div>
        </div>
        <div class="swiper-slide">
          <p class="feedback-text">
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>

          <img
            srcset="/img/feedbacks/john.png 1x, /img/feedbacks/john@2x.png 2x"
            alt="John"
          />
          <div>
            <h3>John Smith</h3>
            <p class="feedback-text">Editor, BookMag</p>
          </div>
        </div>
        <div class="swiper-slide">
          <p class="feedback-text">
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book.
          </p>
          <img
            srcset="/img/feedbacks/emily.png 1x, /img/feedbacks/emily@2x.png 2x"
            alt="John"
          />
          <div>
            <h3>Emily Johnson</h3>
            <p class="feedback-text">Author, Novelist</p>
          </div>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
