<footer>
  <div class="container">
    <div class="container-footer">
      <div class="footer-part-first">
        <a class="logo-footer" href="/src/index.html">
          <img
            class="img-logo-footer"
            src="/img/footer/logo-footer.svg"
            alt="logo"
          />
        </a>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="/src/index.html">Home</a></li>
          <li class="footer-nav-item"><a href="./books.html">Books</a></li>
          <li class="footer-nav-item">
            <a href="./feedbacks.html">Feedback</a>
          </li>
          <li class="footer-nav-item">
            <a href="./location.html">Location</a>
          </li>
        </ul>
      </div>
      <div class="footer-part-second">
        <h3 class="title-footer">Join</h3>
        <input
          type="email"
          name="footer-input"
          placeholder="Enter your email"
          class="footer-input"
        />
        <button type="submit" class="footer-btn">Sign Up</button>
        <span class="footer-span-requried">* Required field </span>
      </div>
    </div>
    <p class="footer-rights">© 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
