<header>
  <div class="container header-container">
    <a class="logo-header" href="/src/index.html">
      <img
        class="img-logo-header"
        src="/img/footer/logo-footer.svg"
        alt="logo"
      />
    </a>
    <button class="burger-btn" id="burger-btn" type="button" data-modal-open>
      <svg width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
    <ul class="header-nav-list">
      <li class="header-nav-item"><a href="#">Home</a></li>
      <li class="header-nav-item"><a href="#">Books</a></li>
      <li class="header-nav-item"><a href="#">Feedbacks</a></li>
      <li class="header-nav-item"><a href="#">Events</a></li>
      <li class="header-nav-item"><a href="#">Location</a></li>
    </ul>
    <div class="nav-modal" id="navModal" >
      <nav>
        
        <div class="logo-menu-nav-conteiner">
        <a class="logo-header-menu-nav" href="/src/index.html">
          <img
            class="img-logo-header"
            src="/img/footer/logo-footer.svg"
            alt="logo"
          />
        </a> 
        <button class="close-btn" id="closeMenu"  type="button" data-modal-open>
          <svg width="48" height="48">
            <use href="/img/symbol-defs.svg#icon-x"></use>
          </svg>
        </button>
      </div>
<div class="nav-modal-list-conteiner">
             <ul class="nav-list">
          <li class="nav-modal-item"><a href="#">Home</a></li>
          <li class="nav-modal-item"><a href="#">Books</a></li>
          <li class="nav-modal-item"><a href="#">Feedbaks</a></li>
          <li class="nav-modal-item"><a href="#">Events</a></li>
          <li class="nav-modal-item"><a href="#">Contact</a></li>
        </ul>
      </div>
   
      </nav>
    </div>
   
</header>
