<header>
  <div class="container header-container">
    <a class="logo-header" href="./index.html">
      <svg class="" width="84" height="36">
        <use href="/img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="burger-btn" id="burger-btn" type="button" data-modal-open>
      <svg width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
    <ul class="header-nav-list">
      <li class="header-nav-item"><a href="./index.html">Home</a></li>
      <li class="header-nav-item"><a href="#books">Books</a></li>
      <li class="header-nav-item"><a href="#feedbacks">Feedbacks</a></li>
      <li class="header-nav-item"><a href="#events">Events</a></li>
      <li class="header-nav-item"><a href="#location">Location</a></li>
    </ul>
    <div class="nav-modal" id="navModal">
      <nav>
        <div class="logo-menu-nav-conteiner">
          <a class="logo-header-menu-nav" href="./index.html">
            <svg class="" width="84" height="36">
              <use href="/img/symbol-defs.svg#icon-logo"></use>
            </svg>
          </a>
          <button
            class="close-btn-burger"
            id="closeMenu"
            type="button"
            data-modal-open
          >
            <svg width="48" height="48">
              <use href="/img/symbol-defs.svg#icon-x"></use>
            </svg>
          </button>
        </div>
        <div class="nav-modal-list-conteiner">
          <ul class="nav-list">
            <li class="nav-modal-item">
              <a href="./index.html">Home</a>
            </li>
            <li class="nav-modal-item">
              <a href="#books">Books</a>
            </li>
            <li class="nav-modal-item">
              <a href="#feedbacks">Feedbacks</a>
            </li>
            <li class="nav-modal-item">
              <a href="#events">Events</a>
            </li>
            <li class="nav-modal-item">
              <a href="#location">Location</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
