html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: var(--regular-weight);
}

:root {
  --main-font: 'Rubik', sans-serif;
  --regular-weight: 400;
  --bold-weght: 600;
  --medium-weight: 500;
}
