.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.is-open {
    display: flex;
}

.modal-content {
    position: relative;
    width: 100%;
    padding: 64px 16px;
    border-radius: 16px;
    background: #fceee6;
    overflow-y: auto;
    max-height: 100vh;
}

/* Hide scrollbar for WebKit-brousers (Chrome, Safari) */
.modal-content::-webkit-scrollbar {
    display: none;
}

.modal_close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.modal_close-btn svg {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease;
    display: block;
}

.modal_close-btn:hover {
    opacity: 1; }

.modal-books .container {
    position: relative;
}

.modal-books_picture {
    flex-shrink: 0;
}

.modal-books_img {
    height: 467px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-books_data {
    display: block;
}

.modal-books_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

.modal-books_author {
    font-size: 14px;
    margin-bottom: 8px;
}

.modal-books_price {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.modal-books_quantity-container {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.modal-books_quantity-container input {
    min-width: 42px;
    width: 42px;
    text-align: center;
    background-color: rgba(11, 5, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    
}

.modal-books_quantity-container .btn {
    border: 1px solid #0b0500;
        border-radius: 4px;
        width: 32px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        color: #0b0500;
        background: transparent;
        height: 40px;
}

.modal-books_buttons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}

.modal-books_buttons-container .btn {
    border: 1px solid #e15d05;
    border-radius: 4px;
    padding: 12px 24px;
        width: 309px;
        height: 48px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    background: #e15d05;
    transition: all 0.3s ease;
}

.modal-books_buttons-container .btn:hover {
    background: black;
    border: 1px solid #0b0500;
}

.modal-books_buttons-container .btn-secondary {
    border: 1px solid #0b0500;
        border-radius: 4px;
        padding: 12px 24px;
        width: 309px;
            height: 48px;
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #0b0500;
        background: transparent;
        transition: all 0.3s ease;
}

.modal-books_buttons-container .btn-secondary:hover {
    border: 1px solid #e15d05;
    background-color: #e15d05;
    color:white;
}


.modal-books .chevron-icon {
    width: 24px;
    height: 25px;
    margin-left: auto;
}

.modal-books .ac.is-active>.ac-header .ac-trigger .chevron-icon {
    transform: rotate(180deg);
}

.modal-books .ac.is-active>.ac-header .ac-trigger::after,
.modal-books .ac>.ac-header .ac-trigger::after {
    content: '';
}

.modal-books .accordion-container {
    border-bottom: 1px solid rgba(11, 5, 0, 0.15);
}

.modal-books .ac {
    background-color: inherit;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid rgba(11, 5, 0, 0.15);
}

.modal-books .ac .ac-trigger {
    font: inherit;
    font-size: 18px;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-books .ac .ac-trigger:focus {
    color: #0b0500;
}

.modal-books .ac .ac-panel .ac-text {
    font: inherit;
    padding-inline: 0;
    padding-top: 0;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .modal-books {
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        display: flex;
        gap: 24px;
        padding-inline: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .modal-books_buttons-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .modal-books .modal-content {
        padding-inline: 104px;
    }
}