.books .container .books-wrapper {
  position: relative;
}

.books .container .books-wrapper .title {
  margin-bottom: 40px;
}

.books .container .books-wrapper .button {
  border: 1px solid #0b0500;
  border-radius: 4px;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0b0500;
  background-color: transparent;
  transition: background-color 400ms ease;
  margin-top: 16px;
}

.books .container .books-wrapper .button:hover {
  cursor: pointer;
  background-color: #ea8d50;
  color: white;
}

.books .container .books-wrapper .button:focus {
  cursor: pointer;
  background-color: #ea8d50;
  color: white;
}

.books .container .books-wrapper .list-books {
  margin: 0 auto;
}

.books .container .books-wrapper .list-books.all-books-show {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;

  row-gap: 40px;
  column-gap: 24px;
}

.books .container .books-wrapper .list-books .category-name {
  display: block;
  margin-bottom: 18px;
  color: #b4afaf;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.books .container .books-wrapper .list-books .subject,
.books .container .books-wrapper .list-books .price {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #0b0500;
}

.books .container .books-wrapper .list-books .author {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #0b0500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books .container .books-wrapper .list-books .book-info {
  position: relative;
  width: 100%;
  min-height: 345px;
}

@media screen and (min-width: 768px) {
  .books .container .books-wrapper .list-books .book-info {
    width: 340px;
  }
  .book-img {
    height: 483px;
  }
}

.books .container .books-wrapper .list-books .book-info .subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books .container .books-wrapper .list-books .book-info .book-cover {
  position: relative;
  max-width: 335px;
  width: 100%;
  max-height: 485px;
  min-height: 256px;
  overflow: hidden;
  border-radius: 8px;
}

.books .container .books-wrapper .list-books .book-info .book-cover img {
  width: 100%;
  height: 330px;
}

@media screen and (min-width: 768px) {
  .books .container .books-wrapper .list-books .book-info .book-cover {
    max-width: 227px;
    max-height: 316px;
    min-height: 316px;
  }
}

.book-cover {
  z-index: 2;
}

.categories-books {
  color: rgba(17, 17, 17, 0.6);
  height: 100%;
}

/* @media screen and (min-width: 768px) {
  .categories-books {
    max-width: 768px;
    display: flex;

    column-gap: 32px;
    padding: 40px 32px 100px 32px;
    margin: 0 auto;
  }
} */

.categories-books .container-categories {
  margin: 0 auto;
  max-width: 335px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: -0.02em;
}

/* @media screen and (min-width: 768px) {
  .categories-books .container-categories {
    max-width: 337px;
    height: 472px;
    font-size: 18px;
    line-height: 1.33;
    max-height: 150px;
  }
} */

.categories-books .container-categories .categories {
  margin-bottom: 40px;
}

.categories-books .container-categories .categories .item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #0b0500;
}

.categories-books .container-categories .categories .item:hover {
  cursor: pointer;
  font-weight: 700;
  transform: scaleY(1.1);
  transition: font-weight 250ms linear;
}

.categories-books .container-categories .categories .item:focus {
  cursor: pointer;
  font-weight: 700;
  transform: scaleY(1.1);
  transition: font-weight 250ms linear;
}

.categories-books .container-categories .categories .active {
  text-transform: uppercase;
  font-weight: 700;
  color: #e15d05;
}

.categories-books .container-categories .categories .item:first-child ~ .item {
  padding-top: 8px;
}

.load-more {
  background-color: #e15d05;
  border-radius: 4px;

  padding: 12px 24px;
  width: 342px;
  height: 48px;
  display: none;

  margin: 0 auto;
  margin-top: 24px;
  color: white;
  transition: all 0.3s ease;
}
.load-more:hover {
  background: #0b0500;
  color: #fff;
}

.books-subtitle-placeholder {
  display: flex;
  justify-content: space-between;
}
.books-subtitle-placeholder h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000;
  margin-bottom: 24px;
}
.books-subtitle-placeholder div {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  margin-right: 10px;
  margin-top: 7px;
}
.books h2 {
  visibility: hidden;
}
.book-content {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.custom-dropdown {
  position: relative;

  user-select: none;
  border: 1px solid #baafa7;
  border-radius: 4px;

  z-index: 99999;
}

.custom-dropdown .selected {
  position: relative;
  z-index: 99999;
  background: rgba(11, 5, 0, 0.15);
  padding: 10px;
  cursor: pointer;
  border: 1px solid rgba(11, 5, 0, 0.15);
}
.categories-books {
  max-width: 342px;
}

.custom-dropdown .dropdown-list {
  position: absolute;

  left: 0;
  right: 0;
  max-height: 400px;
  background: #999999ed;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y: auto;
  display: none;
  z-index: 9999;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #0b0500;
}

.custom-dropdown .dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown .dropdown-list li:hover {
  background: #e0e0e0;
}

/* Кастомный скролл */
.custom-dropdown .dropdown-list::-webkit-scrollbar {
  width: 8px;
}

.custom-dropdown .dropdown-list::-webkit-scrollbar-track {
  background: rgba(11, 5, 0, 0.05);
}

.custom-dropdown .dropdown-list::-webkit-scrollbar-thumb {
  background: #e15d05;
  border-radius: 4px;
}

.custom-dropdown .dropdown-list::-webkit-scrollbar-thumb:hover {
  background: #e15d05;
  border-radius: 4px;
}
.custom-dropdown .selected::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  transform: translateY(-50%);
  pointer-events: none;
}

.book-img {
  min-width: 100%;
  object-fit: cover;
  border-radius: 8px;


@media only screen and (max-width: 374px) {
  .load-more {
    padding: 12px 100px;
  }
}
@media only screen and (min-width: 768px) {

  .categories-books {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

  }
}

@media screen and (min-width: 1440px) {
  .books-list-placeholder {
    min-width: 1004px;
  }
  .categories-books {
    max-width: 308px;
    width: 100%;
    display: block;
    padding: 0;
    height: 100%;
  }
  .books .container .books-wrapper {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    column-gap: 24px;
  }
  .books .container .books-wrapper .list-books .book-info .book-cover {
    max-width: 227px;
    max-height: 316px;
    min-height: 316px;
  }

  .books .container .books-wrapper .list-books .book-info {
    width: 227px;
  }
  .book-img {
    height: 322px;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
