/* #region mobile */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  /* margin: 64px 16px; */
  padding: 64px 16px;
  border-radius: 16px;
  width: 343px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.contact-modal-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
}
.contact-modal-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 16px;
}
.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}
.modal-form {
  padding-top: 48px;
  width: 311px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form input,
form textarea {
  width: 100%;
  padding: 8px 12px;
  margin-top: 8px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f5e5dc;
}
.modal-textarea {
  padding: 12px 12px;
  height: 180px;
}
.register-btn {
  background-color: #d94f00;
  color: #fff;
  border: none;
  padding: 12px 24px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
/* #endregion mobile */

/* #region tablet */
@media (min-width: 768px) {
  .modal-content {
    padding: 64px 32px;
    width: 704px;
    height: 760px;
  }

  .modal-form {
    width: 640px;
    height: 476px;
  }

  .register-btn {
    display: block;
    width: 342px;
    height: 48px;
    margin: 0 auto;
  }
}
/* #endregion tablet */
/* #region desktop */
@media (min-width: 1440px) {
  .modal-content {
    padding: 64px;
    width: 866px;
    height: 760px;
  }

  .modal-form {
    width: 738px;
    height: 476px;
  }
}
/* #endregion desktop */
