/* #region mobile */

.contact-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  /* Добавлено */
  padding: 16px;
  box-sizing: border-box;
}

.contact-modal-content {
  position: relative;
  padding: 64px 16px;
  border-radius: 16px;
  width: 100%;
  max-width: 343px;
  max-height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fceee6;
  overflow-y: auto;
}

.contact-modal-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
}

.contact-modal-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  padding-top: 16px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;
}

.contact-modal-form {
  padding-top: 48px;
  width: 100%;
  max-width: 311px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.contact-modal-form input,
.contact-modal-form textarea {
  width: 100%;
  padding: 8px 12px;
  margin-top: 8px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f5e5dc;
}

.contact-modal-textarea {
  padding: 12px 12px;
  height: 180px;
}

.contact-modal-register-btn {
  background-color: #d94f00;
  color: #fff;
  border: none;
  padding: 12px 24px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.contact-modal-register-btn:hover,
.contact-modal-register-btn:focus {
  background-color: #0b0500;
}
/* #endregion mobile */

/* #region tablet */
@media (min-width: 768px) {
  .contact-modal-content {
    padding: 64px 32px;
    width: 100%;
    max-width: 704px;
    height: auto;
    max-height: 90vh;
  }

  .contact-modal-form {
    width: 100%;
    max-width: 640px;
  }

  .contact-modal-register-btn {
    display: block;
    width: 342px;
    height: 48px;
    margin: 0 auto;
  }
}
/* #endregion tablet */

/* #region desktop */
@media (min-width: 1440px) {
  .contact-modal-content {
    padding: 64px;
    width: 100%;
    max-width: 866px;
    height: auto;
    max-height: 90vh;
  }

  .contact-modal-form {
    width: 100%;
    max-width: 738px;
  }
}
/* #endregion desktop */
