.hero-section {
  padding-bottom: 32px;
}
.hero-scroll-wrap {
  display: none;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.01em;
}
.swiper-slide.hero {
  position: relative;
  padding: 0;
  border: 0;
  min-height: 199px;
}

.hero-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section img {
  border-radius: 8px;
}
.hero-picture-text {
  position: absolute;

  left: 16px;
  top: 5.625em;

}
.span {
  display: block;

}

.hero-text {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 16px;
}

@media only screen and (max-width: 360px) {
  .hero-text {
    margin-bottom: 0;
  }
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e15d05;

  border-radius: 2px;

  text-align: center;
  font-weight: 400;
  font-size: 8px;

  line-height: 1.5;
  color: #fff;
  width: 117px;
  height: 20px;
  transition: background-color 400ms ease;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #0b0500;
}

.hero-scroll svg {
  fill: #0b0500;
}

@media only screen and (min-width: 768px) {
  .hero-scroll {
    display: block;
  }
  .hero-text {
    font-size: 32px;
    line-height: 1.2;
  }
  .hero-btn {
    border-radius: 4px;
    padding: 4px 20px;
    width: 164px;
    height: 32px;
    font-size: 16px;
  }
  .hero-nav-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .hero-picture-text {
    top: 118px;
  }

  .hero-picture-text {
    top: 118px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-text {
    font-size: 52px;

    line-height: 1.2;
    max-width: 392px;
  }
  .hero-btn {
    width: 227px;
    height: 40px;
  }

  .hero-picture-text {
    top: 155px;
  }

  .hero-picture-text {
    top: 155px;
  }
}
